.fa-stack {
    display: inline;
}

.fa-trash-alt {
    position: initial
}
.sectionPlace h3 {
    display: flex;
    align-items: center;
}
.sectionForm label {
    font-size: 18px;
}
.sectionForm input {
    width: 25vw;
    height: 3vh;
    border-radius: 20px;
}
.sectionForm {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sectionForm button {
    position: relative;
    bottom: 0;
    padding: 5px 10px;
}
.sectionForm label, .sectionForm input {
    margin-right: 10px;
}
.updatePresMain .nameForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    display: flex;
    flex-direction: row;
}
.nameForm input {
    height: 4vh;
    font-size: 20px;
}
.nameForm label {
    font-size: 20px;
}
.addProject p {
    font-size: 24px;
}
.updatePresMain .fa-window-close {
    font-size: 20px;
}